/* You can add global styles to this file, and also import other style files */

:root {
  --app-font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, Helvetica Neue, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--app-font);
  background: #0b1220;
  color: #e2e8f0;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  label {
    flex: 0 1 100px;
  }

  input {
    flex: 0 1 200px;
  }

  textarea {
    flex: 1 1 100px;
    height: 100px;
  }
}
