.form-row {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;

  label {
    width: 100px;
  }

  .phone {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
}
