
@if(editMode) {
    <div [formGroup]="formGroup">
        <div class="form-row">
            <label>Title: </label>
            <input id="title" formControlName="title">
        </div>
        <div class="form-row">
            <label>Description: </label>
            <input id="description" formControlName="description">
        </div>
    </div>
} @else {
    <pre>
{{ post() | json }}
    </pre>
}

<button (click)="toggleEdit()">{{ editMode ? "Cancel" : "Edit" }}</button>
@if(!editMode) {
    <button (click)="delete()">Delete</button>
} @else {
    <button (click)="update()">Save changes</button>
}